@media only screen and (max-width: 375px){
    *{
        font-size: 15px;
    }

    main{
        padding: 10px;
    }
    
    .desktop{
        display: none;
    }

    .mobile{
        display: block;
    }

    #advice{
        font-size: 20px;
    }

    p{
        font-size: 20px;
    }
}